* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #aaa;
    padding: 20px 25px;
    margin: 10px 0 0 0;
    
}

a {
    color:#fff
}

.container{
    display: flex;
}

nav {
    background-color: #aaa;
    ul{
        display: flex ;
    list-style: none;
    justify-content: space-around;
    }
    li{
        a{
            color:rgb(182, 189, 175);
            text-decoration: none;
            background-color: #fff;
            padding: 5px;
            transition: all ease-in-out 1s;

            &:hover{
                color: #fff;
                background-color: black;
            }
        }
    }
}
/* nav ul{
    display: flex ;
    list-style: none;
    justify-content: space-around;
} */



main {
    background-color: #ccc;
    section{
        padding: 30px;
        &#esportes{
           
        }
        &#economia{

        }
    }
}

footer {
    background-color: #bbb;
}